.DashboardWrapper {
    display: flex;
    flex-direction: row;
    gap: 1%;
    width: 100%;
    background-color: rgb(227, 242, 255);
    position: relative;
}

.leftPanel {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.rightPanel {
    width: 30%;
    position: sticky;
    height: fit-content;
    top: 60px;
}
