.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: white;

    border-radius: 8px;
    max-width: 800px;
    height: 500px;
    width: 100%;
    position: relative;
  }
  
  .closeButton {
    
    
    font-size: 30px;
    cursor: pointer;
  }

  .model_upper_cnt{

    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
   
  }

  .model_lower_cnt{

    width: 100%;
    height: 200px;
   
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    
    
    justify-content: left;
    
  }

  .pic_cnt{

    width: 100%;
    height: 100px;
   
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .pic_cnt_1{

    width: 45%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    padding: 2px 2px;
    gap: 5px;
    
  }
 

  .btn_cnt{

    width: 100%;
    height: 50px;
  
    padding: 5px 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;


  }

  .btn_1{

    width: 99px;
    height: 36px;
    border: 1px solid gray;
    border-radius: 8px;
  }

  .btn_2{

    width: 99px;
    height: 36px;
    border: 1px solid gray;
    background-color:  #22B573;
    border-radius: 8px
    
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    margin-bottom: 8px;
}

.input {
    margin-bottom: 16px;
}

.imagePreview {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 8px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_show{

    width: 60px;
    height: 100%;
   
    border-radius: 8px;
}

.fileld_cnt{
    width: 75%;
    height: 100%;
 
    display: flex;
    text-align: center;
    overflow: hidden;
    align-items: center;
    padding: 1px 2px;
}

