.privecy_cnt{
    width: 650px;
    border-radius: 8px;
    border-radius: 8px;
    height: max-content;
    
    display: flex;
    position: sticky;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 9px 9px;
    box-shadow: 0px 0px 5px 0px rgb(158, 153, 153);
}

.privecy_cnt_2{

    width: 100%;
    height: 100%;
   
    border-radius: 8px;
    overflow: hidden;



}

.upper_cnt{

    width: 100%;
    height: 12%;

   
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    padding: 5px 10px;
    background-color: #F8F9FA;
    border-bottom: 1px solid gray;
}

.Lower_cnt{

    width: 100%;
    height: max-content;
    overflow-y: scroll;
    
  
}

.button_cnt{

    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding: 1px 10px;
    gap: 10px;

}

.btn_1{

    padding: 5px 16px;
    border: 2px solid gray;
    border-radius: 8px;
  

}

.bg_color{

    padding: 5px 16px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: Black;
    color: white;
}


.components{

    width: 100%;
    height: max-content;
   
}