/* style.module.css */

/* Table Styles */
.table {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tableHead {
    background-color: #F8F9FA;
    border: 1px solid #EAECF0;
  }
  
  .tableHeadCell {
    padding: 12px;
    font-size: 0.65rem;
    text-align: left;
    color:#6C757D;
    font-size: 12px;
  }
  
  .tableRow {
    cursor: pointer;
    height: 70px;
    padding-left: 10px;
  }
  
  .tableRow:nth-child(even) {
    background-color: #F8F9FA;
  }
  
  .tableSubsection {
    background-color: #F8F9FA;
    height:45px;
  }
  
  .tableSubsectionCell {
    padding: 12px;
  }
  
  .tableSubsectionCell:first-child {
    width: 5%;
  }
  
  .tableSubsectionCell:nth-child(2) {
    width: 25%;
  }
  
  .tableSubsectionCell:nth-child(3) {
    width: 50%;
    vertical-align: top;
  }
  
  .tableSubsectionCell:nth-child(4) {
    width: 20%;
  }
  
  .tableAction {
    padding: 12px;
    background-color: #E9ECEF;
    border-top: 1px solid #EAECF0;
    text-align: center;
  }
  
  .tableActionContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
  
  .tableActionButton {
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 4px;
  }

  .tableCellNo {
    color:#6C757D;
    font-weight: 400;
  }

  .tableCellTitle{
    color: #22B573;
    text-decoration: underline;
    font-weight: 500;

  }

  .tableTextWrapper{
    display: flex;
    flex-wrap: nowrap;
    height: 20px;
    overflow: hidden;
  }

  .tableCellDescription{
    color: #495057;
    font-size: 14px;
  }

  .tableCellDate{
    color: #495057;
    font-size: 14px;
  }

  .subsecBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .domain{
    font-size: 10px;
    color: #495057;
  }

  .subTitle{
    font-size: 12px;
    color: 14px;
    font-weight: 500;
  }

  .SubsecDesCell{    
    color: #495057;
    font-size: 14px;
  }

  .privacy{        
    color: #495057;
    font-size: 14px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .tableBottomWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Tablebottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.userName{
  font-size: 12px;
  font-weight: 500;
}

.reportBtn {
  cursor: pointer;
  color: white;
  font-weight: 500;
  border: none;
  outline: none;
  text-wrap: nowrap;
  background-color: #22B573;
  font-size: 13px;
  border-radius: 4px;
  padding: 6px;
}
.reportBtn:hover{
  background-color: #1a8656;
}

.originalBtn{
  border: 1px solid darkgrey;
  font-size: 12px;
  text-wrap: nowrap;
  border-radius: 5px;
  padding: 5px;

}

.relevant{
  font-size: 12px;
    text-wrap: nowrap;
    border: 1px solid orange;
    color: orange;
    border-radius: 2px ;
    padding: 4px;
}

.reportOffWrapper{
  height: 100vh;
  width: 100vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 0;
}

.reportOffBox{
  background-color: white;
  height: 370px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.2);

}

.offenceReport{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  padding:10px;
  color: #212529;
  font-weight: 500;
  border-bottom: 1px solid;
}

.form{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.formGroup{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label{
  font-size: 16px;
  font-weight: 500;
}

.inputField{
  outline: none;
  border: 1px solid rgb(129, 129, 129);
  height: 40px;
  padding: 4px;
  display: flex;
  text-align: left;
  border-radius: 8px;
  
}

.inputFileField{
  outline: none;
  border: 1px  dashed rgb(129, 129, 129);
  height: 40px;
  display: flex;
  text-align: center;
  color: black;
  width: 100%;
  border-radius: 8px;
  opacity: 0;

}

.buttonGroup{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
}

.cancelButton{
  border: 1px solid rgb(110, 110, 110);
  border-radius: 5px;
  padding: 5px;
  width: 80px;
}

.submitButton{
  border: none;
  outline:none;
  background-color: #22B573;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
}

.submitButton:hover{
  border: none;
  outline: none;
  background-color: #1a8656;
}

.inputFileParent{
  border: 1px dashed rgb(90, 90, 90);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.customInputField{
  position: absolute;
}
